/jobsPy/.env
/staticfiles
.idea/
jobsPy/blog/__pycache__/
jobsPy/accounts/__pycache__/
jobsPy/main/__pycache__/
jobsPy/jobs/__pycache__/
jobsPy/jobseekers/__pycache__/
jobsPy/core/__pycache__/
jobsPy/company/__pycache__/
jobsPy/blog/__pycache__/
static/
media/
jobsPy/company/migrations/__pycache__/
jobsPy/jobs/migrations/__pycache__/
jobsPy/main/migrations/__pycache__/
jobsPy/jobseekers/migrations/__pycache__/
jobsPy/blog/api/__pycache__/
jobsPy/notifications/__pycache__/
jobsPy/notifications/migrations/__pycache__/
jobsPy/__pycache__/
jobsPy/blog/migrations/__pycache__/
jobsPy/accounts/migrations/__pycache__/
jobsPy/notifications/templatetags/__pycache__/
