{% extends 'base.html' %}
{% block main_content %}
  <!-- Start Error Area -->
  <div class="maill-success">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="success-content">
            <h1>Password reset sent!</h1>
            <h4>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h4>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <div class="button">
              <a href="{% url 'index' %}" class="btn">Go To Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Error Area -->
{% endblock %}