{% extends 'base.html' %}
{% load static %}
{% block title %} Change Password - JobsPy {% endblock %}
{% block main_content %}
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Change Password</h1>
                        <p>Business plan draws on a wide range of knowledge from different business<br> disciplines.
                            Business draws on a wide range of different business .</p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>Change Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content Start -->
    <div class="change-password section">
        <div class="container">
            <div class="alerts-inner">
                <div class="row">
                    <!-- Start Main Content -->
                    {% if request.user.role == "jobseeker" %}
                    {% include "job_seekers/job_seeker_menu.html" %}
                {% else %}
                 {% include "company/company-menu.html" %}
                {% endif %}

                    <!-- End Main Content -->
                    <div class="col-lg-8">
                        <div class="password-content">
                            <h3>Change your password</h3>
                            <p>Here you can change your Password.</p>
                                                {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                                           <form method="post" action="{% url 'change-password' %}">
                            <div class="row">
                 {% for field in form %}
                    <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                     </div>
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}

                {% endfor %}
                                {% csrf_token %}

                                <div class="col-lg-12 button">
                                    <button class="btn">
                                        Change
                                    </button>
                                </div>
                            </div>
                        </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content end -->

 {% endblock %}
