{% extends 'base.html' %}
{% load static %}
{% block title %} Send Newsletter to All subscribers - JobsPy {% endblock %}
{% block main_content %}
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Send Newsletter</h1>
                        <p>Send Newsletter to All subscribers - JobsPy<br></p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'job seeker dashboard' %}">Dashboard</a></li>
                        <li>Edit Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content Start -->
    <div class="change-password section">
        <div class="container">
            <div class="alerts-inner">
                <div class="row">
                    <!-- Start Main Content -->

                    {% include "job_seekers/job_seeker_menu.html" %}

                    <!-- End Main Content -->
                    <div class="col-lg-8">
                        <div class="password-content">
                            <h3>Send Newsletter </h3>
                            <p>Send Newsletter to All subscribers </p>

                            {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                            <form method="post" action="{% url 'newsletter'  %}" enctype="multipart/form-data">
                                <div class="row">
                                    {{ form.media }}
                                    {{ form }}
{#                                {% for field in form %}#}
{#                    <div class="form-group">#}
{#                    {% if field.field.required %}#}
{#                    <span>{{  field.label_tag }}</span>#}
{#                        {% else %}#}
{#                        {{ field.label_tag }}#}
{#                        {% endif %}#}
{#                    {{ field }}#}
{#                     </div>#}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
{##}
{#                {% endfor %}#}

                                    {% csrf_token %}
                                    <div class="col-lg-12">
                                        <div class="button">
                                            <button class="btn">Send</button>
                                        </div>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content end -->

 {% endblock %}