{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block main_content %}
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Blog Single</h1>
                        <p>Business plan draws on a wide range of knowledge from different business<br> disciplines.
                            Business draws on a wide range of different business .</p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Blog Single</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Blog Singel Area -->
    <section class="section blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div  id="single-post" class="single-inner">
                        <h3>Loading...</h3>
                    </div>
                    <div class="change-password">

                        <div  class="post-comments password-content">
                                         {% if user.is_authenticated %}
                            <form id="comment-form">
                                <div class="required">
    <label for="comment-content" class="required">Comment:</label>
                                    <textarea type="text" rows="5" name="comment" id="comment-content" class="form-control" placeholder="Write your comment here..."></textarea>
                            </div>
                                <div class="button">
    <button class="btn" type="submit">Post Comment</button>
                                </div>
                                {% csrf_token %}
</form>
                                             {% else %}
                                                  <div class="col-lg-6 col-md-10 col-12">
                                        <div class="login-information">

                        <form method="post" action="{% url 'login' %}">
                            <div class="row">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
                 {% for field in form %}
                    <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                     </div>
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}

                {% endfor %}
                                                <input type="hidden" value="{{request.path}}" name="next"/>


                                <div class="col-lg-12 button">
                                    <button class="btn">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>

                </div>
                    <a class="google" href="{% provider_login_url 'google' %}">Login with Google</a>
                    <a class="github" href="{% provider_login_url 'github' %}">Login with GitHun</a>

            </div>
                                             {% endif %}

                                <h3 id="comment-number" class="comment-title"><span></span></h3>
                                <ul id="comments-list" class="comments-list">
                                </ul>
                            </div>

                    </div>
                </div>
            </div>

        </div>

    </section>
    <script>
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
       <script src="{% static '/js/blog/blog_detail.js' %}"></script>
       <script src="{% static '/js/blog/load_comment.js' %}"></script>
 {% if user.is_authenticated %}
   <script src="{% static '/js/blog/post_comment.js' %}"></script>
    {% endif %}
{#    <script>#}
{#    document.addEventListener('DOMContentLoaded', function () {#}
{#    const commentForm = document.getElementById('comment-form');#}
{##}
{#    commentForm.addEventListener('submit', function (event) {#}
{#        event.preventDefault();#}
{##}
{#        // Get the comment content from the form#}
{#        const content = document.getElementById('comment-content').value;#}
{#            const blogPostId = window.location.pathname.split('/')[2]#}
{##}
{##}
{##}
{#        // Send the comment data to the backend#}
{#        postComment(content);#}
{#    });#}
{#});#}
{##}
{#function postComment(content) {#}
{#    const blogPostId = window.location.pathname.split('/')[2]#}
{#         const csrfToken = "{{ csrf_token }}";#}
{#    // AJAX request to post the comment#}
{#    fetch(`/api/blog/${blogPostId}/comments/`, {#}
{#        method: 'POST',#}
{#        headers: {#}
{#            'Content-Type': 'application/json',#}
{#               'X-CSRFToken':  csrfToken,#}
{#            // Add any required authentication headers if needed#}
{#        },#}
{#        body: JSON.stringify({ content: content }),#}
{#    })#}
{#    .then(response => response.json())#}
{#    .then(data => {#}
{#        // Comment successfully posted, update UI#}
{#        console.log('Comment posted:', data);#}
{#        // You can update the UI to display the new comment here#}
{#          #}
{#    })#}
{#    .catch(error => {#}
{#        console.error('Error posting comment:', error);#}
{#    });#}
{#   #}
{#}#}
{#    </script>#}



{% endblock %}