{% extends 'base.html' %}
{% load static %}
{% block title %} {{ object.name}} - JobsPy {% endblock %}
{% block main_content %}
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Company Details</h1>
                        <p>Business plan draws on a wide range of knowledge from different business<br> disciplines.
                            Business draws on a wide range of different business .</p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'all_company' %}">Companies</a></li>
                        <li>{{ object.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Blog Singel Area -->
    <section class="section blog-single">
        <div class="container">
            <div class="row">
                                <div class="resume ">
        <div class="container">
            <div class="resume-inner">
                <div class="row">
                    <!-- Start Main Content -->

                    <!-- End Main Content -->
                    <div class="col-lg-8 col-12">
                        <div class="inner-content">
                            <!-- Start Personal Top Content -->
                            <div class="personal-top-content">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="name-head">
                                            {% if object.image %}
                                            <a class="mb-2" href="#"><img class="circle-54"
                                                    src="{{ object.image.url}}" alt=""></a>
                                            {% else %}
                                                   <a class="mb-2" href="#"><img class="circle-54"
                                                    src="{% static '/images/clients/default_profile.png' %}" alt=""></a>
                                            {% endif %}
                                            <h4><a class="name" href="#">{{ object.name}}</a></h4>
                                            <p><a class="deg" href="#">Product Designer</a></p>
                                            <ul class="social">
                                                {% if object.facebook_url %}
                                                <li><a href="{{ object.facebook_url }}"><i class="lni lni-facebook-original"></i></a></li>
                                                {% endif %}
                                                {% if object.linkedin_url %}
                                                <li><a target="_blank" href="{{ object.linkedin_url }}"><i class="lni lni-linkedin-original"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-12">
                                        <div class="content-right">
                                            <h5 class="title-main">Contact Info</h5>
                                            <div class="single-list">
                                                <h5 class="title">Location</h5>
                                                <p>{{ object.location }}</p>
                                            </div>
                                            <div class="single-list">
                                                <h5 class="title">E-mail</h5>
                                                <p>{{ object.email }}</p>
                                            </div>
                                            <div class="single-list">
                                                <h5 class="title">Phone</h5>
                                                <p>{{ object.phone }}</p>
                                            </div>
                                            <div class="single-list">
                                                <h5 class="title">Address</h5>
                                                <p>{{ object.address }}</p>
                                            </div>
                                            <div class="single-list">
                                                <h5 class="title">Employees</h5>
                                                <p>{{ object.employees }}</p>
                                            </div>
                                            <div class="single-list">
                                                <h5 class="title">Foundation Year</h5>
                                                <p>{{ object.foundation_year }}</p>
                                            </div>

                                            <div class="single-list">
                                                <h5 class="title">Website Linked</h5>
                                                <p><a target="_blank" href="{{ object.website_url }}"> Link </a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Personal Top Content -->
                            <!-- Start Single Section -->
                            <div class="single-section">
                                <h4>About</h4>
                                <p class="font-size-4 mb-8">
                                    {{ object.description|safe }}
                                </p>
                            </div>
                            <!-- End Single Section -->
                            <!-- Start Single Section -->
                            <div class="single-section skill">
                                <h4>Technologies</h4>
                                <ul class="list-unstyled d-flex align-items-center flex-wrap">
                                {{ object.skills_set }}
                                    {% for tech in object.skills.all %}
                                    <li>
                                        <a href="#">{{ tech }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                             <div class="single-section">
                              <h4>Open positions </h4>
                                     <div class="job-items">
                            {% for job in jobs_published %}
                            <div class="manage-content">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="title-img" style="display: flex">
                                            <div class="can-img">
                                                {% if job.job_image %}
                                                <img style="height: 60px;" src="{{ job.job_image.url }}" alt="#">
                                                    {% else %}
                                                    <img style="height: 60px;" src="{{object.image}}" alt="#">
                                                {% endif %}
                                            </div>
                                            <h6  style="padding-left: 10px">{{ job.title }}<span>{{ job.category}}</span></h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p><span class="time"><i class="lni lni-coin"></i> {{ job.salary }}</span></p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p class="location"><i class="lni lni-map-marker"></i>{{job.location}}</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <div class="button">
                                            <a href="{% url 'job_details' job.pk %}" class="btn">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                             </div>
                            <!-- End Single Section -->

{#                            <div class="single-section exprerience">#}
{#                                <h4>Work Exprerience</h4>#}
{#                                <!-- Single Exp -->#}
{#                                <div class="single-exp mb-30">#}
{#                                    <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">#}
{#                                        <div class="image">#}
{#                                            <img src="assets/images/resume/work1.png" alt="#">#}
{#                                        </div>#}
{#                                        <div class="w-100 mt-n2">#}
{#                                            <h3 class="mb-0">#}
{#                                                <a href="#">Lead Product Designer</a>#}
{#                                            </h3>#}
{#                                            <a href="#">Airabnb</a>#}
{#                                            <div class="d-flex align-items-center justify-content-md-between flex-wrap">#}
{#                                                <a href="#">Jun 2020 - April 2023- 3 years</a>#}
{#                                                <a href="#" class="font-size-3 text-gray">#}
{#                                                    <span class="mr-2" style="margin-top: -2px"><i#}
{#                                                            class="lni lni-map-marker"></i></span>New York, USA</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- End Single Exp -->#}
{#                                <!-- Single Exp -->#}
{#                                <div class="single-exp mb-30">#}
{#                                    <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">#}
{#                                        <div class="image">#}
{#                                            <img src="assets/images/resume/work2.png" alt="#">#}
{#                                        </div>#}
{#                                        <div class="w-100 mt-n2">#}
{#                                            <h3 class="mb-0">#}
{#                                                <a href="#">Senior UI/UX Designer</a>#}
{#                                            </h3>#}
{#                                            <a href="#">Google Inc</a>#}
{#                                            <div class="d-flex align-items-center justify-content-md-between flex-wrap">#}
{#                                                <a href="#">Jun 2020 - April 2023- 3 years</a>#}
{#                                                <a href="#" class="font-size-3 text-gray">#}
{#                                                    <span class="mr-2" style="margin-top: -2px"><i#}
{#                                                            class="lni lni-map-marker"></i></span>New York, USA</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- End Single Exp -->#}
{#                            </div>#}
                            <!-- End Single Section -->
                            <!-- Start Single Section -->
{#                            <div class="single-section education">#}
{#                                <h4>Education</h4>#}
{#                                <!-- Single Edu -->#}
{#                                <div class="single-edu mb-30">#}
{#                                    <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">#}
{#                                        <div class="image">#}
{#                                            <img src="assets/images/resume/edu1.svg" alt="#">#}
{#                                        </div>#}
{#                                        <div class="w-100 mt-n2">#}
{#                                            <h3 class="mb-0">#}
{#                                                <a href="#">Masters in Art Design</a>#}
{#                                            </h3>#}
{#                                            <a href="#">Harvard University</a>#}
{#                                            <div class="d-flex align-items-center justify-content-md-between flex-wrap">#}
{#                                                <a href="#">Jun 2020 - April 2023- 3 years</a>#}
{#                                                <a href="#" class="font-size-3 text-gray">#}
{#                                                    <span class="mr-2" style="margin-top: -2px"><i#}
{#                                                            class="lni lni-map-marker"></i></span>Brylin, USA</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- End Single Edu -->#}
{#                                <!-- Single Edu -->#}
{#                                <div class="single-edu mb-30">#}
{#                                    <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">#}
{#                                        <div class="image">#}
{#                                            <img src="assets/images/resume/edu2.svg" alt="#">#}
{#                                        </div>#}
{#                                        <div class="w-100 mt-n2">#}
{#                                            <h3 class="mb-0">#}
{#                                                <a href="#">Bachelor in Software Engineering</a>#}
{#                                            </h3>#}
{#                                            <a href="#">Manipal Institute of Technology</a>#}
{#                                            <div class="d-flex align-items-center justify-content-md-between flex-wrap">#}
{#                                                <a href="#">Fed 2019 - April 2023 - 4 years </a>#}
{#                                                <a href="#" class="font-size-3 text-gray">#}
{#                                                    <span class="mr-2" style="margin-top: -2px"><i#}
{#                                                            class="lni lni-map-marker"></i></span>New York, USA</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- End Single Edu -->#}
{#                            </div>#}
                            <!-- End Single Section -->
                                       
                        </div>
                    </div>

                         <aside class="col-lg-4 col-md-12 col-12">


                    <div class="sidebar">
                                              <div class="widget popular-feeds">
                            <div class="inner">
{#                                <h6 class="title">Job Location</h6>#}
                                <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q={{ object.location }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.com">123movies old site</a><style>.mapouter{position:relative;text-align:right;height:300px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:100%;}</style><a href="https://maps-google.github.io/embed-google-map/">embed google map</a></div></div>
                            </div>
                        </div>

{#                            <div class="widget search-widget">#}
{##}
{#                                 #}
{#                            <h5 class="widget-title"><span>Search This Site</span></h5>#}
{#                             <form method="get" action="{% url 'all-jobs' %}">#}
{#                                <input type="text" name="q" placeholder="Search by job title">#}
{#                                <button type="submit"><i class="lni lni-search-alt"></i></button>#}
{#                            </form>#}
{#                        </div>#}


{#                        {% include "jobs/category_slide.html" %}#}


                                                <div class="widget popular-feeds">
                            <h5 class="widget-title"><span>Latest Blog Posts with DRF</span></h5>

                            <div class="popular-feed-loop">

                            </div>
                        </div>

                        <div class="widget popular-tag-widget">
                            <h5 class="widget-title"><span>Popular Tags</span></h5>
                            <div class="tags">
                                <a href="#">ToDo</a>
{#                                <a href="#">Design</a>#}
{#                                <a href="#">HR</a>#}
{#                                <a href="#">Recruiter</a>#}
{#                                <a href="#">Interview</a>#}
{#                                <a href="#">Employee</a>#}
{#                                <a href="#">Labor</a>#}
{#                                <a href="#">Salary</a>#}
{#                                <a href="#">Consult</a>#}
{#                                <a href="#">Business</a>#}
{#                                <a href="#">Candidates</a>#}
                            </div>
                        </div>
                    </div>
                </aside>
                </div>
            </div>
        </div>
    </div>

            </div>
        </div>
    </section>
        <script src="{% static '/js/blog/popular_feeds.js' %}"></script>
{% endblock %}